@import 'vars';
@import 'mixins';

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../../Index/InfoContent/Lato/Lato-Regular.ttf);
}

.registration-box {
  @include centerflex();
  display: flex;
  margin-top: 64px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: $widthSite;
  gap: 128px;
  margin-bottom: 196px;

}

.registrations {
  display: grid;
  grid-auto-flow: row;

}

.registration {
  width: 360px;
  height: 149px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 20px;

  &__head {
    font-weight: 300;
    font-size: 16px;
    color: $backBlock;
    margin: 0;
  }

  &__form input {
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    color: $colorText;
    text-align: left;
    padding-left: 16px;
    border: 1px solid $solidBorder;

  }

  &__form input::placeholder {
    color: #B1B1B1;
    font-size: 13px;

  }

  &__button {
    margin-top: 239px;
    display: flex;
    gap: 10px;
    justify-content: space-between;

  }

  &__but {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 167px;
    height: 50px;
    background-color: $backContent;
    font-weight: 400;
    font-size: 14px;
    color: $backBlock;
    border: 1px solid #A4A4A4;
    cursor: pointer;

    &_span {
      margin: 0;
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    margin-bottom: 30px;
    margin: 0;
  }

  &__hidden-checkbox {
    display: none;
  }

  &__text {
    font-weight: 300;
    font-size: 13px;
    color: #b1b1b1;
    padding-left: 17px;
    border: 1px solid $colorText;

  }

  &__text:focus {
    outline: none;
  }

  &__text:focus::placeholder {
    color: $colorText;

  }

  &__checkbox input[type="checkbox"] {
    display: none;
  }

  &__checkbox label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 11px;
    color: $backBlock;
  }

  &__checkbox label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid #a4a4a4;
    border-radius: 100%;
    background-color: white;
    transition: background-color 0.3s;
  }

  &__checkbox input[type="checkbox"]:checked+label::before {
    background-color: $colorSelectSite;
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 100%;

    &_but {
      margin: 0;
      width: 167px;
      height: 50px;
      padding: 16px 29px;
      border: none;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_but:hover {
      background-color: $colorSelectSite;
      color: #FFFFFF;
    }

    &_but svg path {
      fill: black;
      transition: fill 0.3s ease;
    }

    &_but:hover svg path {
      fill: white;
    }

    &__info p {
      font-weight: 300;
      font-size: 13px;
      color: #b1b1b1;
      margin-top: 15px;
    }
  }
}

.loyalty {
  display: flex;
  justify-content: center;
  margin-left: 128px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__head {
    margin: 0;
  }
  &__head h1 {
    font-weight: 400;
    font-size: 24px;
    color: $colorName;
  }

  &__context {
    font-weight: 300;
    font-size: 24px;
    color: #000;
  }

  &__ul {
    list-style: none;
    padding: 0;
  }

  &__li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 24px;
    color: $colorName;
  }

  &__li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z" fill="black" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 22px;
  }

}

/* Стиль для планшета */
@media (min-width: 768px) and (max-width: 1140px) {
  .registration-box {
    gap: 22px;
    width: 768px;

  }
  .registrations {
    display: grid;
    grid-auto-flow: row;

  }
  .registration {
    gap: 20px;

    &__head {
      font-weight: 300;
      font-size: 16px;
      color: $backBlock;
      margin: 0;
    }
  }

  .loyalty {
  width: 354px;
  margin: 0;
    &__head{
      font-weight: 400;
      font-size: 16px;
    }
    &__context {
      font-size: 16px
    }
    &__block {
      margin: 0
    }
    &__ul {
      list-style: none;
      padding: 0;
    }

    &__li {
      font-size: 16px;
    }
  }
}

/* Стиль для сотового телефона */
@media (min-width: 375px) and (max-width: 768px) {
  .registration-box {
   display: flex;
   flex-direction: column;
   gap: 390px;
   width: 359px;
   margin-bottom: 96px;
  }
  .registrations {
    display: grid;
    grid-auto-flow: row;
  }
  .registration {
    gap: 20px;

    &__head {
      font-weight: 300;
      font-size: 16px;
      color: $backBlock;
      margin: 0;
    }
  }

  .loyalty {
  width: 354px;
  margin: 0;
    &__head{
      font-weight: 400;
      font-size: 16px;
    }
    &__context {
      font-size: 16px
    }
    &__block {
      margin: 0
    }
    &__ul {
      list-style: none;
      padding: 0;
    }

    &__li {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      font-weight: 300;
      font-size: 16px;
      color: $colorName;
    }
  }

}