@import 'value';

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../InfoContent/Lato/Lato-Regular.ttf);
}
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.menu-container {
  width: 1600px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
    &__content {
      padding: 32px 0 0 32px;
  position: absolute;
  width: 232px;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 5;
    &_allMenu {
      
     &_btn{
      text-align: right;
      width: 90%;
      border: none;
      background: none;
      color: red;
      font-size: 14px;
      font-weight: 800;
     }
     &_h1 {
      font-size: 14px;
      font-weight: 700;
     line-height: 18px;
     color: $colorForText;
     }
     &_select {
      
      &_h2{
      margin-top: 24px;

      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      color: $countBackground;
     }
     &_paragraf {
      align-items: flex-start !important;
      color: #6F6E6E;
      &_p {
        padding: 10px;
      }
     }
    }
  }

  }
  
  

}
