@import 'value';

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../InfoContent/Lato/Lato-Light.ttf);
}
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
  max-width: $widthSite;

  &__count {
    border-radius: 100px;
    background-color: $countBackground;
    width: 19px;
    height: 19px;
    text-align: center;
    color: white;
    font-size: 12px;
    position: absolute;
    left: 1351px;
    top: 18px;
    right: 249px;
  }
}
.header__count {
  width: 19px;
 height: 19px;
  top: 0;
  left: 20px;
 
}
.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $headerBackground;
  width: 100%;
  height: 75px;
}

.btn_a {
  border: none;
  background-color: transparent;
  padding: 41px;
  cursor: pointer;
}
.topNav-right {
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}
.btn_a1 {
  border: none !important;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.main {
  max-width: $widthSite;
  margin: 0 auto;
}
.topNav-content {
  display: flex;
  background-color: rgb(241, 228, 230);
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
    
}
.topNavContent {
display: flex;
  &__h3 {
    color: $countBackground;
    font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  top: 134px;
  left: 230px;
  }
}
.topContent {
  margin-left: 64px;
  width: $widthSite;
  height: 148px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
  &__header {
    margin-left: 230px;
    color: $countBackground;
  }
  &__navigation {
    margin-right: 230px;
    color: $colorForHeader;
  }
  &__navMax {
    color: $countBackground;
  }
}
.title {
  width: 405px;
  height: 93px;
  &__h1 {
  font-weight: 900px;
  font-size: 48px;
  color: #222;
  font-weight: bold;
  margin-left: 14px;
  }
  &__flex-row {
    display: inline;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    margin-left: 14px;
  }
  &__topColor {
  font-weight: 700;
  font-size: 32px;
  display: inline;
  color: $countBackground;
  margin-left: 14px;
  }
}
.menu-modal {
  position: relative;
}