$widthSite: 1600px;
$widthSiteProducts:1140px;
$headerBackground:rgba(34, 34, 34, 1);
$countBackground: rgba(241, 109, 127, 1);
$colorForParagraph: rgba(111, 110, 110, 1);
$colorForHeader: rgba(94, 94, 94, 1);
$colorForText: rgba(0, 0, 0, 1);
$backgroundCard: #eeebeb;
$colorSelectSite: #F16D7F ;
$backBlock: #222;
$backContent: rgba(248, 248, 248, 1);
$colorName: #000;
$colorText: rgba(93, 93, 93, 1);
$gapGrid: 60px;
$thirdSite: calc(($widthSite - $gapGrid) / 3);
$widthBurgerMenu: 232px;

