$colorSelectSite: #F16D7F ;
$widthSite: 1140px;
$backBlock: #222;
$backContent: rgba(248, 248, 248, 1);
$colorName: #000;
$colorText: rgba(93, 93, 93, 1);
$gapGrid: 60px;
$thirdSite: calc(($widthSite - $gapGrid) / 3);
$widthBurgerMenu: 232px;