@import 'value';

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../../Index/InfoContent/Lato/Lato-Light.ttf);
}
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.top-head {
  background: rgba(248, 243, 244, 1);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $widthSite;
  &_right {
    display: flex;
    justify-content: right;
  }
  &_left {
    display: flex;
    justify-content: left;
  }
  &__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: $colorSelectSite;
}
}
.breadcrumbs__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link-site {
  font-weight: 700;
  color: $colorSelectSite;
}

/* Стиль для планшета */
@media (min-width:768px) and (max-width:1140px) {

  .top-head {
    height: 148px;
    padding: 60px 16px;
    width: 768px;
  }
}

/* Стиль для сотового телефона */
  @media (min-width: 375px) and (max-width: 768px) {
    .top-head {
      display: flex;
      flex-direction: column;
      height: 148px;
      padding-bottom: 46px;
      padding-top: 24px;
      width: 375px;
    }
  }

