@import 'vars';
summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

.filter-sort {
  padding-top: 39px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: $widthSite;
  height: 132px;
  display: flex;
  gap: $gapGrid;
}
.filter {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 3;
  margin: 0;
  text-align: left;
  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: bold;
  }
  &__content {
    width: 360px;
    background: #fff;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  &[open] {
    text-align: left;
     box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    
  }
  &[open] .filter__heading, path {
    margin: 0;
    color: $colorSelectSite;
  }
  &[open] path {
    fill: $colorSelectSite;
  }
  &__summary svg {
    width: 15px;
    height: 10px;
  }
  &__item {
    margin-top: 16px;
  }
  &__heading {
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $colorText;
    text-align: left;
  }
  &__head {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorText;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid $colorSelectSite;
    text-align: left;
  }
  &__item[open] .filter__head {
    color: $colorSelectSite;
    margin: 0;
  }
&__link-box {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 11px;
  margin: 0;
}
 &__link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $colorText;
  margin: 0;
  &:hover {
    color: $colorSelectSite;
  }
}
}
.sort {
  padding-top: 12px;
  display: flex;
  gap: 28px;

  &__details {
    position: relative;
  &_summary {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  &_check {
    display: flex;
    gap: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $colorText;
  }

  &_heading {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorText;
    position: relative;
  }
  &_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #ffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
    position: absolute;
    top: 20px;
    left: -14px;
    z-index: 10;
    // width: auto;
    height: 100px;
  }

  &_check {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    gap: 9px;
    margin: 0;
    padding: 0;
    background: #ffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
}
}

.cardAll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  transition: height 0.3s ease-in-out;
}
.slaider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-counter {
  margin-top: 48px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  gap: 20px;
  border: 1px solid rgba(235, 235, 235, 1);
  width: 284px;
  height: 44px;
  &__slider {
  cursor: pointer;
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}
&__slider:hover svg path {
  fill: $colorSelectSite;
}
  &__p {
  margin: 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: $colorText;
  }
  &__p:hover {
    color: $colorSelectSite;
  }
}
.number-counter:hover{
  border: 2px solid blue;
}

/* Стиль для планшета */
@media (min-width:768px) and (max-width:1140px) {
  .filter-sort {
    width: 768px;
    height: 132px;
  }
  
  .cardAll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
  }
}

/* Стиль для сотового телефона */
  @media (min-width: 375px) and (max-width: 768px) {
    .filter-sort {
      width: 375px;
      height: 132px;
    }
    
    .cardAll {
      display: grid;
      grid-template-columns: repeat(1, 8fr);
      gap: 16px;
    }
   .icon {
    display: none;
   }
   .sort {
    gap: 23px;
  
    &__details {
        
    &_heading {

      font-size: 12px;
    }
  }
  }
}