@import 'vars';
@import 'mixins';

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../../Index/InfoContent/Lato/Lato-Black.ttf);
}

* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.medContent {
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: auto;
  gap: 453px;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: $widthSite;
  background-color: rgba(247, 247, 247, 1);
  // margin: 0 auto;
  position: relative;
  z-index: 1;

  &__switch button {
    border: none;
    cursor: pointer;

  }

  &__switch svg path:hover {
    fill: $countBackground;
  }
}

.minContent {
  max-width: $widthSiteProducts;
  height: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 600px;
  background-color: #ffffff;
  margin-top: -60px;
  box-sizing: border-box;
  margin-bottom: 900px;
}

.minContent__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
  border: 1px solid rgba(234, 234, 234, 1);
  margin-bottom: 110px;
}

.minContent__content h3 {
  color: $countBackground;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 12px;
}

.minContent__content h2 {
  color: $colorForParagraph;
  font-weight: 400;
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 48px;
}

.minContent__content p {
  color: $colorForParagraph;
  font-weight: 400;
  max-width: 555px;
  height: 52px;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.minContent__content h1 {
  font-size: 24px;
  font-weight: 400;
  color: $countBackground;
  margin-top: 32px;
  margin-bottom: 64px;
}

.button-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-bottom: 48px;
  margin-top: 48px;
}

.line {
  background-color: #ffffff;
  border: none;
}

.line a {
  color: $colorForParagraph;
}

.line svg {
  margin-left: 9px;
}

.line svg {
  fill: $countBackground;
}

.basket {
  width: 212px;
  height: 48px;
  border: 1px solid $countBackground;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: $countBackground;
  font-size: 16px;
  font-weight: 400;

  &__img {
    margin: 0;
  }
}

.cost {
  margin-bottom: 64px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $colorForParagraph;
  background-color: #ffffff;
  width: 642px;
  cursor: pointer;
}

.cardds {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cardd {
  max-width: 360px;
  height: 581px;
&__text {
  width: 100%;
  height: 166px;
  background: $backgroundCard;
  margin: 0;
  padding: 24px 16px;
  box-sizing: border-box;
}
&__text a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  color: $colorForText;
  margin: 0;
}
&__text p {
  font-weight: 300;
  font-size: 14px;
  color: $colorForParagraph;
  margin: 16px 0 0 0;
}
}
.cardd img {
  width: 360px;
  height: 420px;
}
.cardd h4 {
  font-weight: 400;
  font-size: 16px;
  color: $countBackground;
  margin: 16px 0 0 0;
}